/* Flex utils */
.flex {
	display: flex;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}

.space-between{
	justify-content: space-between;
}

/* Spacing utils */
.marg_10 {margin: 10px;}
.marg_10_top {margin-top: 10px;}
.marg_10_bottom {margin-bottom: 10px;}
.marg_10_left {margin-left: 10px;}

.marg_20_top {margin-top: 20px;}
.marg_20_bottom {margin-bottom: 20px;}

.marg_50_top {margin-top: 50px;}
.marg_50_bottom {margin-bottom: 50px;}

.fullwidth {
	width: 100%;
}
input {
	padding: 5px;
}
body {
	background-color: #fff;
	margin: 0px;
	color: #404040;
}
textarea {
	resize: none;
}

.snipperContent {
	padding: 20px;
	z-index: 1;
}
.titleBar {
	-webkit-app-region: drag;
	height: 40px;
	width: 100%;
	background-color: #222831;
	position: fixed;
	z-index: 2;
}
.bodyTextArea {
	min-height: 100px;
}
.relative {
	position: relative;
}
.snippetSelect {
	min-width: 300px;
	height: 100%;
	background-color: #fff;
	color: #888;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.08);
}
.snippetHeader {
	background-color: #eee;
	color: #444;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.snippetSelect__option.snippet--selected {
	color: #444;
	border-left: 5px solid #4EEAF6;
}
.snippetSelect__option {
	padding: 10px 20px;
	color: #888;
	border-left: 5px solid transparent;
}
.snippetSelect__option:hover {
	color: #444;
	cursor: pointer;
}
.snippetSelect__add {
	padding: 10px 20px;
	color: #0366d6
}
.snippetForm {
	border: 1px solid #ccc;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.08);
	padding: 20px;
	margin: 0 50px;
	width: 100%;
}
.snippetForm__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 20px;
}
.snippetForm__title {
	width: 100px;
}
.snippetForm__input {
	width: 100%;
}
.snippetResult {
	width: 100%;
	margin: 0 50px;
	min-height: 300px;
	font-size: 14px;
}
.snipperButton {
	background-color: #2200ff;
	color: #fff;
	border-radius: 2px;
	padding: 10px 7px;
}
.logoButton {
	padding: 20px 50px;
	border-left: 1px solid #eee;
	background-color: #fff;
}
.logoButton:last-child {
	border-right: 1px solid #eee;
}
.logoButton:hover {
	background-color: #ccc;
	cursor: pointer;
}

.accordionHeader {
	display: flex;
	justify-content: space-between;
}

.snippetsContainer {
	min-height: 10px;
}