<%_ for(var i=0; i < sources.length; i++) { _%>
'<%- sources[i].title -%>':
	<%_ for(var j=0; j< sources[i].snippets.length; j++) { _%>
	'<%- sources[i].snippets[j].title -%>':
		'prefix': '<%- sources[i].snippets[j].shortcut -%>'
		'body':"""
		<%- sources[i].snippets[j].body -%>

		"""
	<%_ } _%>
<%_ } _%>
